.horizontal-box-items-centered {
  display: flex;
  flex-direction: column;
}

.box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.second {
  align-self: stretch;
}
